.container {
	width: 960px;
	background: #9191B5;
	border: 5px dotted #ff0000;
	margin: 0 auto;
}

.main-heading {
	height: 100px;
	background-color: #0000ff;
	padding: 20px;
	overflow: hidden;
}

.main-heading .navigation ul {
	list-style: none;
	background-color: #339933;
}

.main-heading .navigation  ul li {
	float: left;
}

.main-heading .naviagtion ul li a {
	padding: 10 15px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.main-header .navigation ul li a:hover {
	background-color: pink;
	color: green;
	text-decoration: underline;
}

.main-content{
	min-height: 500px;
}

.main-footer{
	height: 50px;
	background-color: #0000ff;
}