.container {
    width: 740px;
    margin: auto;
}    
.header {
    height: 150px;
    color: #fff;
    background: royalblue;
}
.content {
    padding: 10px;
    background: lightgrey;
}
.footer {
    height: 90px;
    color: #FFF;
    background: #222;
}
.base {
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-size: 50px;
}
.menu {
    height:500px;
    width:200px;
    float:left;
    padding-top: 50px;
    padding-left: 50px;

}
.page-navigation {
    color: #993300; 
}
  
